mixin card(img1, img2, img3)
 section.cards
  .card.gray
    img.card-img(src=img1, alt="")
    .card-text
     h2.card-text__title Worldwide Known
     p.card-text__info Since 1989 being one of  the most important companies in the industry. Always giving the best to our students. 

  .card.grayish-white
    img.card-img(src=img2, alt="") 
    .card-text
     h2.card-text__title Well-Positioned
     p.card-text__info With us you've got the possibility of going in to the music industry, being prepared by the best teachers   
    
  .card.light-lyla
    img.card-img(src=img3, alt="")
    .card-text
     h2.card-text__title Highly Endorsed
     p.card-text__info We are not just one the best music academies, but a bunch of the greatest artist in the have come out of here